# =========================================
# Build directories
# =========================================

build/
Build/
out/
cmake-build-*/

# =========================================
# Compiled binaries / objects
# =========================================
*.o
*.obj
*.exe
*.out
*.a
*.lib
*.dll
*.so
*.dylib
*.pdb
*.ilk
*.exp

# =========================================
# Temporary files
# =========================================

*.tmp
*.temp
*.bak
*.swp
*~